* {
    scroll-behavior: smooth;
    font-family: "JetBrains Mono";
    font-weight: bold;
    text-align: center;
  }
  body {
    
    color: #eaeaea;
    background: #171717;
    text-shadow: 4px 4px 5px black;
  }